<div id="main_header_wrapper">
  <header id="main_header">
    <h1>Project</h1>
  </header>
</div>

<div id="main_block">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, nisi? Ab accusantium adipisci amet, consectetur cumque deserunt distinctio dolore hic iste iusto mollitia nam obcaecati odit. Eum, laudantium, obcaecati?
  </p>
</div>

<div id="main_footer_wrapper">
  <footer id="main_footer">
    <p>Copyright &copy; 2014. Rustam Second_Fry Gubaydullin.</p>
  </footer>
</div>